<ul class="list-inline text-center">
  <% data.team.each do |member| %>
    <li>
      <%= image_tag member.image, class: "img-circle" %>
      <h3><%= member.name.capitalize %></h3>
    </li>
  <% end %>
</ul>
